.section-paral-gradient {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0.8) 80%, rgba(0, 0, 0, 0.9) 100%);
}

.section:first-child {
    height: 100vh;
    background-attachment: fixed;
    background-color: #fff;
    background-position: 50% 0;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-image: url('');
}

a:hover .is-dark {
    background-color: #3273dc;
}

.card-image {
    filter: grayscale(1) blur(1px);
}

a:hover .card-image {
    filter: blur(0px);
}

a:hover .card,
.button.is-link:hover {
    transform: scale(1.1);
}

a .card,
.button.is-link,
span.fa {
    transition: transform .2s;
}

a:hover span.fa {
    color: blue;
    transform: scale(1.1);
}
